In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./제주도 단기체류 방문 외국인 유동인구 추이.csv",encoding='euc-kr')
df

        base_date nationality time_range  emd_name  visit_population_count
0          201801          기타       1-2시  서귀포시 남원읍                  401.92
1          201801          기타       1-2시  서귀포시 서홍동                   42.31
2          201801          기타       1-2시  서귀포시 성산읍                  317.31
3          201801          기타       1-2시  서귀포시 안덕면                  423.08
4          201801          기타       1-2시  서귀포시 예래동                   84.62
...           ...         ...        ...       ...                     ...
330818     202209          홍콩     23-24시   제주시 조천읍                   16.45
330819     202209          홍콩     23-24시   제주시 추자면                   27.00
330820     202209          홍콩     23-24시   제주시 한경면                    9.39
330821     202209          홍콩     23-24시   제주시 한림읍                    6.40
330822     202209          홍콩     23-24시   제주시 화북동                    1.45

[330823 rows x 5 columns]

In [5]:
df['nationality'].unique()

array(['기타', '말레이시아', '미국', '인도네시아', '일본', '중국', '태국', '베트남', '싱가포르',
       '홍콩'], dtype=object)

In [4]:
res_counts = pd.read_csv("./Data/res_counts.csv")
res_counts.head()

   읍면동명 업종명  매장수
0    연동  한식  531
1  이도이동  한식  416
2   성산읍  한식  354
3   애월읍  한식  349
4   한림읍  한식  333