In [2]:
# 거듭제곱

var_01 = 3
print('거듭제곱 :', var_01**2)
print('거듭제곱 :',pow(var_01,2))

거듭제곱 : 9
거듭제곱 : 9

### 파이썬 모듈을 이용한 수학계산

In [4]:
import math

In [8]:
# 거듭제곱
math.pow(var_01,2)

9.0

In [10]:
# 제곱근
math.sqrt(var_01)

1.7320508075688772

In [11]:
# sin 45
math.sin(45)

0.8509035245341184

In [12]:
math.pi

3.141592653589793

In [13]:
# sin45의 제곱 더하기 cos45의 제곱 구하기
math.pow(math.sin(45),2)+math.pow(math.cos(45),2)

1.0

### 난수 발생

In [15]:
import random

In [22]:

random.randint(1,100)

32

In [33]:
# 로또 번호 생성기
lotto_list = range(1,46)
random.sample(lotto_list,6)

[32, 9, 18, 39, 29, 35]

In [ ]:
a = range(1,11)
for i in a:
    print(i)

In [50]:
# 반올림
print(round(2.5,0))
print(round(3.5))
print(round(123.45,1))
print(round(123.456,2))

2.0
4
123.5
123.46

In [51]:
math.ceil(1.1)

2

In [52]:
math.floor(1.9)

1

In [54]:
# 저장된 변수 제거
del var_01

### 관계연산자

In [56]:
num1 = 100
num2 = 20

In [59]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리연산자

In [64]:
print((num1>=50)&(num2<=10))
print((num1>=50)|(num2<=10))
print((num1>=50)and(num2<=10))
print((num1>=50)or(num2<=10))

False
True
False
True

In [65]:
num1>=50

True

In [67]:
not(num1>=50)

False

### Python은 and, or, not

In [69]:
!ls

01. Preview.ipynb             02. 변수와 자료형.ipynb

---
### 문자열 자료형

In [70]:
# 한 줄은 print 필요없음
var_01 = "Hello World!"
var_01

'Hello World!'

In [76]:
# 여러줄의 문자열 출력
var_01 = """
    Hello World!
    Good to Meet You!
"""
var_01
print(var_01)

    Hello World!
    Good to Meet You!

In [78]:
# 쌍따옴표와 홑따옴표의 사용
var_01 = "My father's wife is my mother."
var_02 = 'He says "I love you."'
print(var_01)
print(var_02)

My father's wife is my mother.
He says "I love you."

In [88]:
# 문자열 연산(덧셈)
var_01 = "Python"
var_02 = "is fun."

In [90]:
var_01 + var_02
print(var_01+var_02)
print(var_01,var_02)

Pythonis fun.
Python is fun.

In [93]:
# 문자열 연산 (곱셈)
print(var_01*3)

PythonPythonPython

In [97]:
print('='*20,'\nPython\n'+'='*20)

====================
Python
====================

In [118]:
# 문자열 indexing과 slicing

str = "abcdefghijklmn"
print(str[0:5])
print(str[-1])
print(str[5:])
print(str[5:-2])

abcde
n
fghijklmn
fghijkl

### 이메일 도메인 slice

In [139]:
str_email1 = "aaa@naver.com"
str_email1.find('@')
print(str_email1[str_email1.find('@')+1:str_email1.find('.')])
str_email2 = "bbbbb@google.com"
print(str_email2[str_email2.find('@')+1:str_email2.find('.')])

naver
google

In [134]:
str = "20221229Snow"
print(str[0:4],str[4:8],str[8:])

2022 1229 Snow

In [165]:
str = "abbde"

# abcde로 출력하기
print(str.replace('bb','bc'))

abcde

---
### 문자열 Formatting

%s, %d, %r

In [169]:
# 정수형 Formatting
number = 2
print("I have %d apples." %number)

I have 2 apples.

In [171]:
print("I have %s apples." %"two")

I have two apples.

In [172]:
number = 2
fruit = "apples"
print("I have %d %s."%(number,fruit))
# number, fruit <= Tuple
# list는 가변, tuple은 불변

I have 2 apples.

In [174]:
# 우측정렬&좌측정렬 (leading&trailing)
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [179]:
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)
# %10.4 <= 소수점을 포함한 10자리 + 소수점 4자리

3.1416
    3.1416

### 문자열 관련함수

In [186]:
str = "I have dream"
# count
print(str.count('a'))
# length
print(len(str))
# find
print(str.find('x'))

2
12
-1

In [191]:
str = ","
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [195]:
str = 'hi'
str.upper()
str.upper().lower().upper()
str = 'hiHiHIhiHIhI'
str.lower()

'hihihihihihi'

In [198]:
# return string with leading whitespace removed
str = '       hi      '
str.lstrip()

'hi      '

In [199]:
# return string with trailing whitespace removed
str.rstrip()

'       hi'

In [203]:
# 양쪽 공백 제거
str.strip()

'hi'

In [204]:
str = 'Life is too short to be happy'
str.replace('happy','unhappy')

'Life is too short to be unhappy'

In [213]:
str = 'Life is too short to be happy'
# split에 입력값 없으면 공백 자름
list01 = str.split()
list01

type(list01)
list01[0]

'Life'

In [225]:
str02 = 'a:b:c:d'
str02.split(':')

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [228]:
# 중괄호 + format
"I have {0} apples".format(3)

'I have 3 apples'

In [229]:
"I have {0} apples".format("three")

'I have three apples'

In [230]:
number = 3
"I have {0} apples".format(number)

'I have 3 apples'

In [234]:
number = 10
day = 'three'
"I have {0} apples, I will go abroad for {1} days to {2} days".format(number, day,'five')

'I have 10 apples, I will go abroad for three days to five days'

In [239]:
# 좌측정렬
"{0:<10}".format('hi')

'hi        '

In [245]:
# 우측정렬
"{0:>10}".format('hi')

'        hi'

In [246]:
# 가운데정렬
"{0:^10}".format('hi')

'    hi    '

In [247]:
# 가운데정렬 + 공백 채우기
"{0:=^10}".format('hi')

'====hi===='

In [249]:
# 좌측정렬 + 공백 채우기
"{0:!>10}".format('hi')

'!!!!!!!!hi'

In [251]:
y = 3.14159
# 실수 (소수점 두번째 자리까지)
"{0:0.2f}".format(y)

'3.14'

In [253]:
# 실수 (소수점 두번째 자리까지, 우측 정렬)
"{0:10.2f}".format(y)
"I need a {0:10.2f} point".format(y)
# 전체 m칸 공간을 마련하여 남은 앞 칸에 공백을 채워 소수점 n자리까지 출력
# %m.nf 형태로 포맷팅 양식 지정

'I need a       3.14 point'

In [255]:
# f
name = "홍길동"
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [256]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

In [258]:
print(f'{name=},{age=}')

name='홍길동',age=30

---
### 날짜형 변환

In [260]:
# 패키지에서 모듈 가져오기
from datetime import datetime, timedelta

In [268]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [273]:
time2 = datetime.now()
print(time2)

2023-01-16 13:58:58.165523

In [274]:
print(time2-time1)

21 days, 16:58:58.165523

In [275]:
print(type(time2))

<class 'datetime.datetime'>

In [277]:
print((time2-time1).days,'일')

21 일

In [278]:
print(time2+timedelta(days=5))

2023-01-21 13:58:58.165523