In [1]:
var01 = []
var02 = [1,2,3]
var03 = ['I','have','a','dream'],
var04 = [1,2,'Dream','True']
# 2차원 리스트
var05 = [1,2,['Dream','True']]

In [3]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

[]
[1, 2, 3]
(['I', 'have', 'a', 'dream'],)
[1, 2, 'Dream', 'True']
[1, 2, ['Dream', 'True']]

In [9]:
print(var05[2][0])

Dream

In [12]:
print(var02[0]+var02[1])

3

In [26]:
var = [1,2,['a','b',['Dream','True']]]

In [28]:
print(var[2][2][0],var[2][2][1])

Dream True

'a'

In [31]:
# Slicing
print(var[-1][-1][0])
print(var[0:2])
print(var[2:])

Dream
[1, 2]
[['a', 'b', ['Dream', 'True']]]

---
### 리스트 연산자

In [32]:
# 리스트의 숫자 단순 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [48]:
# 리스트의 덧셈
[var01[i]+var02[i] for i in range(len(var01))]

[5, 7, 9]

In [49]:
# 단순 for문으로
for i in range(len(var01)):
    print(var01[i]+var02[i])

5
7
9

In [50]:
var01 = ['a','b','c']
var02 = ['d','e','f']
var01+var02

['a', 'b', 'c', 'd', 'e', 'f']

In [51]:
var01*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [55]:
# 문자열로 변환
var = [1,2,3]
str(var[2]) + 'hi'

'3hi'

---
### 리스트의 수정과 삭제
##### R: vector vs Python: list

In [93]:
var = [1,2,3]
var[2] = 4
var
# 문자열은 replace 사용

[1, 2, 4]

In [94]:
# [1,2,4] => [1,'a','b','c',4]로 변환
var[1:2] = ['a','b','c']
var

[1, 'a', 'b', 'c', 4]

In [95]:
# [1,'c',4] (수정)
var[1:3] = []
var

[1, 'c', 4]

In [96]:
# 삭제
del var[1]
var

[1, 4]

In [102]:
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [103]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [108]:
var = [1,4,3,2]
print(var)

# 오름차순 정렬 sort
var.sort()
print(var)

# 내림차순 정렬 reverse
var.reverse()
print(var)

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [111]:
var = ['a','c','b']
var.sort()
print(var)
var.reverse()
print(var)

['a', 'b', 'c']
['c', 'b', 'a']

In [116]:
var = ['ㄱ','ㄹ','ㄷ']
var.sort()
print(var)
var.reverse()
print(var)

['ㄱ', 'ㄷ', 'ㄹ']
['ㄹ', 'ㄷ', 'ㄱ']

In [117]:
var = ['ㅓ','ㅣ','ㅏ']
var.sort()
print(var)
var.reverse()
print(var)

['ㅏ', 'ㅓ', 'ㅣ']
['ㅣ', 'ㅓ', 'ㅏ']

In [119]:
var = ['대','국','a','한','c','민','b']
var.sort()
print(var)
var.reverse()
print(var)

['a', 'b', 'c', '국', '대', '민', '한']
['한', '민', '대', '국', 'c', 'b', 'a']

In [120]:
# 리스트의 위치 (index) 정보
var = [4,5,6]
var.index(5)

1

In [126]:
# 리스트의 요소 삽입
var = [1,2,3]
# 0번지에 4 삽입
var.insert(0,4)
print(var)

[4, 1, 2, 3]

In [130]:
# 리스트의 '요소' 제거
# 번지 제거는 del
var = [10,20,30]
var.remove(10)
del var[0]
print(var)

[30]

In [138]:
# 리스트의 요소 끄집어내기
# pop (뒤에서부터 꺼내고 삭제)
var = [1,2,3]
print(var.pop())
print(var)
print(var.pop())
print(var)
print(var.pop())
print(var)

3
[1, 2]
2
[1]
1
[]

In [139]:
# var.append([5,6]) <= [5,6] '배열' 추가
# 리스트의 확장
var = [1,2,3,4]
var.extend([5,6])

print(var)

[1, 2, 3, 4, 5, 6]