# Dictionary

In [17]:
dic = {'name':'petty','phone':'010-1111-2222','birth':'1231'}

In [18]:
dic

{'name': 'petty', 'phone': '010-1111-2222', 'birth': '1231'}

In [19]:
dic['name']

'petty'

In [20]:
# dictionary + list = json
dic = {'a':[1,2,3]}

In [21]:
dic['a']

[1, 2, 3]

In [22]:
# == firebase
dic['b'] = 'bbb'
dic

{'a': [1, 2, 3], 'b': 'bbb'}

In [23]:
del dic['b']
dic

{'a': [1, 2, 3]}

---
### 딕셔너리 관련 함수

In [50]:
dic = {'name':'petty','phone':'010-1111-2222','birth':'1231'}
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [33]:
list(dic.keys())[0]

'name'

In [34]:
for i in dic.keys():
    print(i)

name
phone
birth

In [40]:
[list(dic.keys())[i] for i in range(len(list(dic.keys())))]

['name', 'phone', 'birth']

In [41]:
[list(dic.values())[i] for i in range(len(list(dic.values())))]

['petty', '010-1111-2222', '1231']

In [43]:
list(dic.keys())
list(dic.values())

['petty', '010-1111-2222', '1231']

In [44]:
dic.items()

dict_items([('name', 'petty'), ('phone', '010-1111-2222'), ('birth', '1231')])

In [59]:
d = {'name':'홍길동','age':30}
# f 함수를 사용하여 '나의 이름은 홍길동이고 나이는 30입니다.' 출력하기
f'나의 이름은 {list(d.values())[0]}이고 나이는 {list(d.values())[1]}입니다.'

'나의 이름은 홍길동이고 나이는 30입니다.'

In [74]:
d = {'name':'홍길동','age':30}
# f 함수를 사용하여 '나의 이름은 홍길동이고 나이는 30입니다.' 출력하기
print(f'나의 이름은 {d["name"]}이고 나이는 {d["age"]}입니다.')

나의 이름은 홍길동이고 나이는 30입니다.

In [64]:
print('name' in d)
print('name2' in d)

True
False

In [75]:
# get함수
print(d.get('name'))

print(d.get('age'))

홍길동
30