# Range함수

In [1]:
var = range(1,11)
list(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 0 ~ 10까지의 짝수
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
# 10 ~ 1까지의 짝수
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# 1에서 10까지의 제곱근을 출력하기
import math
for i in range(1,11):
    print(format((math.sqrt(i)),".8f"))

1.00000000
1.41421356
1.73205081
2.00000000
2.23606798
2.44948974
2.64575131
2.82842712
3.00000000
3.16227766

In [ ]:
for i in range(1,11):
    print('%.8f'%(math.sqrt(i)))

1.00000000
1.41421356
1.73205081
2.00000000
2.23606798
2.44948974
2.64575131
2.82842712
3.00000000
3.16227766

In [ ]:
# print 붙여쓰기
print("aaaa",end=" ")
print("bbbb")

aaaa bbbb

In [1]:
for i in range(2,10):
    for j in range(1,10):
        print(i * j, end="\t")
        j =+ 1
    print(end='\n')

2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [ ]:
# for문에 list 사용하기
lists = ['one','two','three']
# data: for i in, list: for list in
for li in lists:
    print(li)

one
two
three

In [ ]:
# for문에 tuple 사용하기
vars = [(1,2),(3,4),(5,6)]
for first, last in vars:
    print(first, last)
for li in vars:
    print(li)

1 2
3 4
5 6
(1, 2)
(3, 4)
(5, 6)

In [ ]:
scores = [90,25,67,45,80]
student = 1

for li in scores:
    grade = '합격' if li >= 60 else '불합격'
    print(f'{student}의 학생은 {grade}입니다.')
    student = student + 1

1의 학생은 합격입니다.
2의 학생은 불합격입니다.
3의 학생은 합격입니다.
4의 학생은 불합격입니다.
5의 학생은 합격입니다.

In [ ]:
scores = [90,25,67,45,80]
student = 1

for li in scores:
    grade = '합격' if li >= 60 else '불합격'
    print(f'{student}의 학생은 점수가 {li}이므로 {grade}입니다.')
    student = student + 1

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이므로 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이므로 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [ ]:
scores = [90,25,67,45,80]
student = 1

for li in scores:
    print(f'{student}의 학생은 점수가 {li}이므로 합격입니다.') if li >= 60 else print(f'{student}의 학생은 점수가 {li}이므로 불합격입니다.')
    student = student + 1

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이므로 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이므로 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [ ]:
# 합격만 보여주기
scores = [90,25,67,45,80]
student = 1

for li in scores:
    if li >= 60:
        print(f'{student}의 학생은 점수가 {li}이므로 합격입니다.')
    student = student + 1

1의 학생은 점수가 90이므로 합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [ ]:
# 합격만 보여주기
scores = [90,25,67,45,80]
student = 1

for li in scores:
    if li >= 60:
        print(f'{student}의 학생은 점수가 {li}이므로 합격입니다.')
    else:
        continue
    student = student + 1

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 67이므로 합격입니다.
3의 학생은 점수가 80이므로 합격입니다.

In [ ]:
# 평균점수까지 구하기
import numpy as np
scores = [90,25,67,45,80]
student = 1
avg = '%.2f'%np.mean(scores)
print(f'학급의 평균 점수는 {avg}입니다.')
for li in scores:
    print(f'{student}의 학생은 점수가 {li}이므로 합격입니다.') if li >= 60 else print(f'{student}의 학생은 점수가 {li}이므로 불합격입니다.')
    student = student + 1

학급의 평균 점수는 61.40입니다.
1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이므로 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이므로 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [ ]:
# 리스트를 읽어서 리스트 값에 5를 곱한 새로운 리스트 만들기
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i*5)
print(var02)

[5, 10, 15, 20]

In [ ]:
# 총 5명의 학갱이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고 그렇지 않으면 불합격이다. 
# 합격인 학생들의 번호만 새로운 list를 생성하여 출력하기
scores = [90,25,67,45,80]
new_scores = []
student = 1
for i in scores:
    if i >= 60:
        new_scores.append(student)
        student = student + 1
    else:
        student = student + 1
        continue
print(new_scores)

[1, 3, 5]

---
### 문장과 단어 추출

In [ ]:
string = """나는 홍길동입니다.
주소는 서울시입니다.
나이는 35세입니다."""

In [ ]:
sents = []
words = []

In [ ]:
# 문단 -> 문장으로 분리
for sen in string.split(sep="\n"):
    sents.append(sen)
    # 문장 -> 단어로 분리
    for word in sen.split():
        words.append(word)
print(sents)
print('문장 수: ',len(sents))
print(words)
print('단어 수: ',len(word))

['나는 홍길동입니다.', '주소는 서울시입니다.', '나이는 35세입니다.']
문장 수:  3
['나는', '홍길동입니다.', '주소는', '서울시입니다.', '나이는', '35세입니다.']
단어 수:  7

---
### Python의 Listed For문
- performance up

In [ ]:
var01 = [1,2,3,4,5]
var02 = [i * 5 for i in var01]
print(var02)

[5, 10, 15, 20, 25]

In [ ]:
# ~ for ~ in ~ if ~ (else ~ if) ~ (else) ~
var02 = [i * 5 for i in var01 if i % 2 == 0]
print(var02)

[10, 20, 30, 40]

In [ ]:
# 60점 이상의 학생 점수만 List로 만들어 평균 구하기
scores = [90,25,67,45,80]
print(f'합격한 학생들의 평균점수는 {np.mean([i for i in scores if i >= 60])}입니다.')

합격한 학생들의 평균점수는 79.0입니다.

In [18]:
gugu = [i * j for i in range(2,10) for j in range(1,10)]
print(gugu)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]