In [111]:
# 파일을 쓰기모드로 열어 출력값 저장하기.
f = open("./Data/new.txt","w")
for i in range(1,11):
    data = "%d번째 줄입니다.\n"%i
    f.write(data)

f.close()

In [112]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기
f = open("./Data/new.txt","r")
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [113]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - 2
f = open("./Data/new.txt","r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [114]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - 3
f = open("./Data/new.txt","r")
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [115]:
# 파일에 새로운 내용 추가하기
f = open("./Data/new.txt","a")
for i in range(11,21):
    f.write("%d번째 줄입니다.\n"%i)
   
f.close()

In [116]:
f = open("./Data/new.txt","r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

16번째 줄입니다.

17번째 줄입니다.

18번째 줄입니다.

19번째 줄입니다.

20번째 줄입니다.

### with

In [117]:
# 파일 만들기
with open("./Data/new2.txt","w") as f:
    for i in range(1,11):
        data = "%d번째 줄입니다.\n"%i
        f.write(data)

In [118]:
# 파일 읽기
with open("./Data/new2.txt","r") as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

---
# Pandas

In [119]:
#!pip install pandas

In [120]:
import pandas as pd

In [121]:
# txt file 불러오기
txtSample = pd.read_table("./Data/new.txt",header=None)
txtSample.head()

           0
0  1번째 줄입니다.
1  2번째 줄입니다.
2  3번째 줄입니다.
3  4번째 줄입니다.
4  5번째 줄입니다.

In [122]:
# txt file로 저장하기
txtSample.to_string('./Data/sample.txt',index=False, header=None)
txtSample.head()

           0
0  1번째 줄입니다.
1  2번째 줄입니다.
2  3번째 줄입니다.
3  4번째 줄입니다.
4  5번째 줄입니다.