In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import urllib.request as req
import time
import folium
import geopandas as gpd
import html5lib as html
pd.options.display.float_format = '{:.5f}'.format

In [6]:
pd.read_csv("../JejuData/jeju_sales.csv")

,년월,시도명,지역구분,읍면동명,업종코드,업종명,이용자 구분,관광구분,연령대,성별,이용금액,매장수,업종명 대분류,연도,월,권역
0,2017-01,서귀포시,읍면,안덕면,G47121,슈퍼마켓,제주도민,도민,30.00000,남성,1527890,214,소매업,2017,1,서귀포시 서부권역
1,2017-01,서귀포시,도심,서귀동,I56211,일반유흥 주점업,내국인,개별,70.00000,남성,630000,275,음식점업,2017,1,서귀포시 동권역
2,2017-01,서귀포시,도심,서귀동,I56211,일반유흥 주점업,제주도민,도민,70.00000,남성,10790000,275,음식점업,2017,1,서귀포시 동권역
3,2017-01,서귀포시,도심,서귀동,I56211,일반유흥 주점업,제주도민,도민,70.00000,여성,684000,275,음식점업,2017,1,서귀포시 동권역
4,2017-01,서귀포시,도심,서귀동,I56211,일반유흥 주점업,제주도민,도민,60.00000,남성,39547110,275,음식점업,2017,1,서귀포시 동권역
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846301,2021-05,서귀포시,읍면,남원읍,G47121,슈퍼마켓,제주도민,도민,10.00000,여성,14150,189,소매업,2021,5,서귀포시 동부권역
2846302,2021-05,서귀포시,도심,하효동,G47121,슈퍼마켓,내국인,단체,50.00000,여성,9100,189,소매업,2021,5,서귀포시 동권역
2846303,2021-05,서귀포시,도심,하예동,G47121,슈퍼마켓,제주도민,도민,20.00000,여성,7800,189,소매업,2021,5,서귀포시 동권역
2846304,2021-05,서귀포시,도심,서홍동,G47121,슈퍼마켓,내국인,단체,40.00000,남성,10900,189,소매업,2021,5,서귀포시 동권역
2846305,2021-05,서귀포시,읍면,남원읍,G47121,슈퍼마켓,내국인,개별,60.00000,남성,1106360,189,소매업,2021,5,서귀포시 동부권역

In [15]:
import pandas as pd
from glob import glob

file_names = glob("../Data/card/*.csv") # 폴더 내의 모든 csv파일 목록을 불러온다
total = pd.DataFrame() # 빈 데이터프레임 하나를 생성한다
# i = 1
# j = 2018
for file_name in file_names:
    temp = pd.read_csv(file_name, encoding='euc-kr') # csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
    # temp['년'] = j
    # temp['월'] = i
    total = pd.concat([total, temp]) # 전체 데이터프레임에 추가하여 넣는다
    # i += 1
    # if i == 13:
    #     i = 1
    #     j = j + 1

total

,년월,시도명,지역구분,읍면동명,업종코드,업종명,이용자 구분,관광구분,연령대,성별,이용금액,매장수,업종명 대분류,데이터기준일자
0,2021-01,제주시,도심,삼도일동,S96121,욕탕업,법인,단체,NaN,알수없음,160000,61,서비스업,2021-07-26
1,2021-01,제주시,읍면,한림읍,S96121,욕탕업,내국인,개별,70.00000,남성,10000,61,서비스업,2021-07-26
2,2021-01,제주시,읍면,구좌읍,S96121,욕탕업,제주도민,도민,40.00000,남성,15000,61,서비스업,2021-07-26
3,2021-01,제주시,도심,도두일동,S96121,욕탕업,법인,단체,NaN,알수없음,56000,61,서비스업,2021-07-26
4,2021-01,제주시,도심,삼도이동,S96121,욕탕업,제주도민,도민,70.00000,남성,1154000,61,서비스업,2021-07-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508083,2019-12,제주시,도심,도련일동,I56111,한식 음식점업,내국인,단체,40.00000,여성,854300,6909,음식점업,2020-12-15
508084,2019-12,제주시,읍면,한경면,I55112,여관업,내국인,개별,50.00000,남성,50000,2042,숙박업,2020-12-15
508085,2019-12,제주시,도심,도련이동,I56111,한식 음식점업,제주도민,도민,10.00000,여성,46500,6909,음식점업,2020-12-15
508086,2019-12,제주시,도심,도련일동,I56111,한식 음식점업,내국인,단체,30.00000,남성,2224800,6909,음식점업,2020-12-15
508087,2019-12,제주시,도심,도련이동,I56111,한식 음식점업,제주도민,도민,50.00000,여성,1887000,6909,음식점업,2020-12-15

In [24]:
import pandas as pd
from glob import glob

file_names = glob("../JejuData/Jeju_Card_2017_2021/*.csv") # 폴더 내의 모든 csv파일 목록을 불러온다
card = pd.DataFrame() # 빈 데이터프레임 하나를 생성한다
for file_name in file_names:
    temp = pd.read_csv(file_name, encoding='euc-kr') # csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
    card = pd.concat([card, temp]) # 전체 데이터프레임에 추가하여 넣는다


card.sort_values('년월',ascending=True)

,년월,시도명,읍면동명,업종명,이용자수,이용금액,총 유동인구,데이터기준일자
873,2018-01,제주시,용담2동,육류 소매업,866,42381480,18246425.72000,2020-12-15
782,2018-01,제주시,오라동,기타음식료품위주종합소매업,29,1087010,19417674.89000,2020-12-15
781,2018-01,제주시,오라동,기타 주점업,46,8990000,19417674.89000,2020-12-15
780,2018-01,제주시,오라동,기타 외국식 음식점업,90,2536000,19417674.89000,2020-12-15
779,2018-01,제주시,오라동,그외 기타 종합 소매업,3165,137235210,19417674.89000,2020-12-15
...,...,...,...,...,...,...,...,...
5558,2021-05,제주시,도두동,체인화 편의점,9708,97823150,3441935.99200,2021-07-28
5559,2021-05,제주시,노형동,체인화 편의점,78688,727258020,59405176.00100,2021-07-28
5560,2021-05,제주시,노형동,차량용 주유소 운영업,19603,1029237940,59405176.00100,2021-07-28
5544,2021-05,제주시,봉개동,마사지업,2,580000,7020734.63500,2021-07-28
4776,2021-05,제주시,삼도1동,육류 소매업,427,44246000,11915127.71600,2021-07-28

In [25]:
card.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48089 entries, 0 to 14094
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       48089 non-null  object
 1   시도명      48089 non-null  object
 2   읍면동명     48089 non-null  object
 3   업종명      48089 non-null  object
 4   이용자수     48089 non-null  int64
 5   이용금액     48089 non-null  int64
 6   총 유동인구   48089 non-null  float64
 7   데이터기준일자  48089 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.3+ MB

In [26]:
len(card['읍면동명'].unique())

43

In [43]:
df_rain_jeju = pd.read_csv("../JejuData/rain/rain_jeju.csv",encoding='euc-kr',on_bad_lines='skip')
rain_jeju = df_rain_jeju.iloc[:,1:4]

In [44]:
df_rain_seogwipo = pd.read_csv("../JejuData/rain/rain_seogwipo.csv",encoding='euc-kr',on_bad_lines='skip')
rain_seogwipo = df_rain_seogwipo.iloc[:,1:4]

In [45]:
rain_jeju

   지점명       일시   강수량(mm)
0   제주  2018-01  58.00000
1   제주  2018-02  86.60000
2   제주  2018-03 118.00000
3   제주  2018-04 112.50000
4   제주  2018-05  98.80000
5   제주  2018-06 211.10000
6   제주  2018-07  48.70000
7   제주  2018-08 376.50000
8   제주  2018-09 187.70000
9   제주  2018-10 347.00000
10  제주  2018-11  28.60000
11  제주  2018-12  96.00000
12  제주  2019-01  24.20000
13  제주  2019-02  37.90000
14  제주  2019-03  55.50000
15  제주  2019-04  46.40000
16  제주  2019-05  42.80000
17  제주  2019-06 145.80000
18  제주  2019-07 510.10000
19  제주  2019-08 242.30000
20  제주  2019-09 610.60000
21  제주  2019-10 188.60000
22  제주  2019-11  27.50000
23  제주  2019-12  48.20000
24  제주  2020-01 116.70000
25  제주  2020-02  29.80000
26  제주  2020-03  81.60000
27  제주  2020-04  82.30000
28  제주  2020-05  20.60000
29  제주  2020-06 221.50000
30  제주  2020-07 184.70000
31  제주  2020-08 140.40000
32  제주  2020-09 400.50000
33  제주  2020-10  53.70000
34  제주  2020-11  28.20000
35  제주  2020-12  29.50000
36  제주  2021-01 116.60000
37  제주  2021-02  52.80000
38  제주  2021-03  81.10000
39  제주  2021-04  58.80000
40  제주  2021-05 100.70000
41  제주  2021-06 122.40000
42  제주  2021-07 247.10000
43  제주  2021-08 227.80000
44  제주  2021-09 493.10000
45  제주  2021-10  32.10000
46  제주  2021-11  63.80000
47  제주  2021-12  31.40000

In [52]:
rain_seogwipo.iloc[1:3]

   지점명       일시   강수량(mm)
1  서귀포  2018-02  10.50000
2  서귀포  2018-03 151.60000

In [59]:
rain = []
for i in list(range(0,48)):
    rain.append(rain_jeju.iloc[i])
    rain.append(rain_seogwipo.iloc[i])
rain_jejudo = pd.DataFrame(rain)

In [62]:
rain_jejudo.to_csv("../JejuData/rain/rain_jejudo.csv",index=False)

In [64]:
pd.read_csv("../JejuData/관광관련업종정보_읍면동별업종별사업체수.csv",encoding='euc-kr')

      법정동     법정동코드   업종구분소분류  사업체수
0    일도일동  50110101  관광객이용시설업     0
1    일도일동  50110101     국제회의업     0
2    일도일동  50110101     관광숙박업     1
3    일도일동  50110101       여행업     2
4    일도일동  50110101      카지노업     0
..    ...       ...       ...   ...
439   표선면  50130320     국제회의업     0
440   표선면  50130320     관광숙박업     5
441   표선면  50130320       여행업     1
442   표선면  50130320      카지노업     0
443   표선면  50130320  일반관광유람선업     0

[444 rows x 4 columns]