In [12]:
import pandas as pd

In [13]:
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

In [14]:
df1 = pd.read_csv("../visit_korea/20230714210605_유형별 검색건수.csv", encoding='euc-kr')

In [15]:
df1

   카테고리중분류명     카테고리소분류명  유형별 검색건수  유형별 검색건수 비율
0      자연관광         자연생태    185045          0.2
1      자연관광         자연공원    723408          0.7
2      자연관광  자연경관(하천/해양)   4057668          4.0
3      자연관광      자연경관(산)    913497          0.9
4      역사관광         종교성지   1212664          1.2
5      역사관광        역사유적지   1196899          1.2
6      역사관광         역사유물     29513          0.0
7      체험관광         공예체험      7366          0.0
8      체험관광     농/산/어촌체험    165587          0.2
9      체험관광        웰니스관광    256936          0.3
10     문화관광         공연시설   2363182          2.3
11     문화관광         테마공원   1771693          1.8
12     문화관광         전시시설   2147760          2.1
13     문화관광       복합관광시설    611847          0.6
14     문화관광      레저스포츠시설    611604          0.6
15     문화관광       랜드마크관광    546650          0.5
16     문화관광         도시공원   2312812          2.3
17     문화관광      기타문화관광지    635975          0.6
18     문화관광    도시/지역문화관광      2578          0.0
19    레저스포츠      항공레저스포츠      8386          0.0
20    레저스포츠      기타레저스포츠    183937          0.2
21    레저스포츠      수상레저스포츠    656702          0.7
22    레저스포츠      육상레저스포츠   4266275          4.2
23       쇼핑          면세점     32608          0.0
24       쇼핑      전문매장/상가       722          0.0
25       쇼핑       기타쇼핑시설     24482          0.0
26       쇼핑         대형마트   7250717          7.2
27       쇼핑           시장   3679802          3.7
28       쇼핑          쇼핑몰   1054748          1.0
29       쇼핑          백화점   3736499          3.7
30       음식          외국식   3192836          3.2
31       음식        음식점기타    350458          0.3
32       음식         전문음식   7426879          7.4
33       음식           한식  17280709         17.2
34       음식        카페/찻집   9310617          9.2
35       음식         간이음식   4947580          4.9
36       숙박           호텔   4892563          4.9
37       숙박          호스텔    137838          0.1
38       숙박           모텔   2411599          2.4
39       숙박        펜션/민박   2703931          2.7
40       숙박        콘도미니엄   2352902          2.3
41       숙박           캠핑   1210868          1.2
42       숙박         기타숙박    117559          0.1
43     기타관광         교통시설   1941627          1.9
44     기타관광         기타관광   1655959          1.6
45     기타관광        데이트코스    122016          0.1

In [16]:
df1[df1['카테고리소분류명'] == '한식']

   카테고리중분류명 카테고리소분류명  유형별 검색건수  유형별 검색건수 비율
33       음식       한식  17280709         17.2

In [17]:
df2 = pd.read_csv("../visit_korea/20230714211517_표_관광지검색순위.csv", encoding="euc-kr")

In [18]:
df2

,순위,시도명,관광지명,주소,중분류,소분류,검색건수
0,1,강원도,속초관광수산시장,강원 속초시 중앙로147번길 16-0,쇼핑,시장,224119
1,2,서울특별시,더현대서울,서울 영등포구 여의대로 108-0,쇼핑,백화점,182861
2,3,경상남도,통영중앙전통시장,경남 통영시 중앙시장1길 14-16,쇼핑,시장,170316
3,4,경기도,코스트코홀세일하남점,경기 하남시 미사강변중앙로 40-0,쇼핑,대형마트,166530
4,5,경기도,현대백화점판교점,경기 성남시 분당구 판교역로146번길 20-0,쇼핑,백화점,165938
...,...,...,...,...,...,...,...
95,96,제주특별자치도,서귀포매일올레시장,제주 서귀포시 중앙로62번길 18-0,쇼핑,시장,47512
96,97,경기도,이마트트레이더스스타필드하남점,경기 하남시 미사대로 750-0,쇼핑,대형마트,47494
97,98,제주특별자치도,협재해수욕장,제주 제주시,자연관광,자연경관(하천/해양),47443
98,99,강원도,파가니카CC,강원 춘천시 소주고개로 145-10,레저스포츠,육상레저스포츠,47415
99,100,경기도,이마트트레이더스김포점,경기 김포시 김포대로 715-0,쇼핑,대형마트,47260

In [19]:
df2[df2["순위"]==16]

    순위  시도명  관광지명                 주소   중분류          소분류    검색건수
15  16  강원도  속초해변  강원 속초시 해오름로 186-0  자연관광  자연경관(하천/해양)  110167